@font-face {
    font-family: Cricket-Bold; /* Гарнитура шрифта */
    src: local(Cricket-Bold), url(../fonts/cricket-bold_45ed3a464621b3dcc182763b550be2c5.woff); /* Для остальных браузеров */
   }
//Reset
body {
	font-family: "Calibri";
	line-height: 1.5;
	font-size: 87.5%;
	margin: 0;
	padding: 0;
	color: #666;
}

ul {
    margin: 0;
    padding: 0;
}

h1 {
	font-size: 25px;
	font-weight: bold;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	font-family: Calibri;
	text-shadow: 1px 1px 1px #000;
}

h2 {
	font-family: Cricket-Bold;
	text-transform: uppercase;
	font-size: 35px;
	font-weight: 500;
}

.wrapper {
	//border: 2px solid yellow;
	height: auto;
}

header {
//	border: 2px solid orange;
	background: url(../images/1.jpg);
	background-size: cover;
	background-position-x: -224px;
	color: #fff;
	a {
		color: #fff;
	}
	h2 {
		display: inline-block;
		margin: 5px auto 0px;
		background-color: rgb(163, 208, 99);
		border-radius: 30px;
		line-height: 40px;
		color: rgb(255, 255, 255);
		font-size: 30px;
		font-weight: normal;
		text-align: center;
		font-style: italic;
		padding-left: 15px;
		padding-right: 15px;
		text-shadow: 2px 3px 0px rgb(118, 151, 72);
	}
}

header article:last-child div:first-child {
    flex: 3 1 300px;
}

.head {
	max-width: 100%;
//	background: #eee;
	article {
		background: inherit;
		&:first-child {
			div {
				&:first-child {
					flex: 0 1 100px;
				}
				&:last-child {
					flex: 0 1 300px;
				}
			}
		}
	}
	.menu {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		li {
			display: inline-block;
		}
		a {
			text-transform: uppercase;
			text-decoration: none;
			padding: 0 8px;
			transition: text-shadow 2s;
			&:hover {
				text-shadow: 2px 2px 5px #a3d063;
			}
		}
		.active {
			color: #a3d063;
			&:hover {
				text-shadow: none;
			}
		}
	}
}

.div-t-con {
    align-items: center;
	text-align: right;
	a {
		text-decoration: none;
	}
}

.logo {
    width: 80px;
    height: 80px;
}

.header-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: flex-end;
	div {
		flex: 0 0 0 !important;
	}
}

.header-text {
    margin-right: 125px;
    margin-bottom: 60px;
	color: #000;
	div {
		&:last-child {
			background: #fff;
			text-align: left;
			padding: 20px;
		}
		&:first-child {
			margin-bottom: 50px;
			padding: 5px;
			border: 2px dashed rgb(163, 208, 99);
			border-radius: 4px;
			margin-top: 60px;
			width: 202px;
			span {
				border-radius: 3px;
				background-color: rgb(163, 208, 99);
				color: rgb(255, 255, 255);
				font-size: 40px;
				font-weight: bold;
				text-align: center;
				line-height: 60px;
				width: 100%;
    			display: block;
				position: relative;
				text-shadow: 2px 3px 2px rgb(130, 166, 79);
			}
		}
	}
	span {
		color: #FFA500;
		font-weight: bold;
	}
}

.header-text > div {
	width: 300px;
	flex: auto !important;
}

main {
//	border: 2px solid green;
//	background: green;
	section {
		padding: 50px 0;
		span {
			color: rgb(255, 255, 255);
			background-color: rgb(163, 208, 99);
			padding-left: 2px;
			padding-right: 2px;
			border-radius: 3px;
		}
	}
	.adress {
		padding: 10px;
		div {
			width: 100%;
			img {
				float: left;
				padding-right: 10px;
			}
		}
	}
}

.d-2 {
	background: #fafafa;
}

.d-3 {
	img {
		width: 190px;
		height: 206px;
	}
}

.tizer {
	&>div {
		transform: rotate(-5deg);
	}
	span {
		background: #a3d063;
		text-shadow: 2px 2px 2px rgb(107, 136, 65);
		font-size: 20px;
		color: #fff;
		border-radius: 0;
		padding: 5px 15px;
		position: relative;
		&::after {
			content: "";
			width: 10px;
			height: 10px;
			position: absolute;
			right: 0;
			top: -10px;
			background: url(../images/11.png);
		}
		&::before {
			content: "";
			width: 10px;
			height: 10px;
			position: absolute;
			left: 0;
			bottom: -10px;
			background: url(../images/12.png);
		}
	}
}

.d-4 {
	background: url(../images/5.jpg);
	background-size: cover;
	padding: 50px 0 100px 0;
	position: relative;
	&::before {
		content: '';
		width: 50px;
		height: 50px;
		background: #fff;
		position: absolute;
		top: -25px;
		left: 50%;
		transform: rotate(45deg);
	}
}

.d-5 {
	background: #444;
	color: #fff;
}

.d-6 {
	background-color: rgb(163, 208, 99);
	color: #fff;
	article {
		span {
			font-family: "Calibri";
			font-size: 25px;
			display: block;
			padding: 0;
			text-transform: lowercase;
		}
		a {
			font-size: 35px;
			text-decoration: none;
			color: #fff;
			font-weight: bold;
			border-bottom: 2px solid;
			padding: 10px;
		}
	}
	input[type="text"] {
		border: 1px solid rgb(255, 255, 255);
		border-radius: 3px;
		padding: 5px 15px;
		margin: 0px 20px 10px auto;
	}
	button[type="submit"] {
		border: medium none;
		border-radius: 3px;
		background-color: rgb(38, 167, 234);
		height: 35px;
		text-align: center;
		width: 100px;
		color: rgb(255, 255, 255);
		font-size: 14px;
		cursor: pointer;
		text-shadow: 2px 2px 2px rgb(32, 140, 196);
		box-shadow: 0px -3px 0px rgba(0, 0, 0, 0.2) inset;
		&:hover {
			box-shadow: 0px -3px 0px rgba(0, 0, 0, 0.2) inset;
			background-color: rgb(255, 162, 0);
			text-shadow: 2px 2px 2px rgb(216, 137, 0);
		}
	}
}

.d-7 {
	div {
		position: relative;
		&::after {
			content: '';
			width: 67px;
			height: 57px;
			background: url(../images/9.jpg) no-repeat;
			position: absolute;
			top: 20%;
			right: 0;
		}
		&:last-child {
			&::after {
				content: '';
				width: 67px;
				height: 57px;
				background: none;
				position: absolute;
				top: 20%;
				right: 0;
			}
		}
	}
}

.d-8 {
	div {
		flex: 4 1 200px;
		padding: 10px;
	}
}

.d-8-1 {
	background: url(../images/10.jpg);
	background-size: cover;
	div {
		position: relative;
		&::after {
			content: '';
			width: 32px;
			height: 50px;
			background: url(../images/14.png);
			position: absolute;
			top: 30%;
			right: 0;
		}
		&:last-child {
			&::after {
				content: '';
				width: 67px;
				height: 57px;
				background: none;
				position: absolute;
				top: 20%;
				right: 0;
			}
		}
	}
}

.d-9 {
	background: url(../images/16.jpg);
	div {
		padding: 10px;
		h3 {
			margin: 0 auto;
			border-radius: 30px;
			padding: 10px;
		}
		&:first-child {
			h3 {
				background: #fff;
				width: 70%;
			}
			p {
				text-align: left;
				&::before {
					background: url(../images/19.png);
				}
			}
		}
		&:last-child {
			h3 {
				background: #a3d063;
				width: 60%;
				color: #fff;
			}
			p {
				text-align: left;
				&::before {
					background: url(../images/20.png);
				}
			}
		}
	}
	p {
		position: relative;
		padding-left: 20px;
		&::before {
			content: '';
			width: 24px;
			height: 24px;
			position: absolute;
			left: -8px;
		}
	}
}

.d-10 {
	.article-title {
		justify-content: center;
	}
	article {
		justify-content: flex-start;
		div {
			flex: none;
		}
		.left {
			margin-right: 20px;
			img {
				border-radius: 50%;
			}
		}
		.right {
			width: 80%;
			text-align: left;
			background-image: url('../images/17.jpg');
			background-repeat: no-repeat;
			background-position: left top;
			padding-left: 20px;
			p {
				font-size: 18px;
			}
			div {
				font-size: 20px;
				span {
					font-size: 30px;
					font-weight: bold;
					color: rgb(68, 68, 68);
				}
			}
			span {
				color: rgb(153, 153, 153);
				font-size: 15px;
				font-style: italic;
				background: none;
			}
		}
	}
}

.d-11 {
	background-color: rgb(244, 244, 244);
	.tizer {
		&>div {
			margin-top: -30px;
			transform: rotate(10deg);
		}
		span {
			font-size: 24px;
			font-weight: bold;
			font-family: "Cricket Bold";
			&::after {
				right: 10px;
			}
		}
	}
}

.d-12 {
	background: url(../images/24.jpg) no-repeat;
	background-position-x: 50%;
	article {
		&:last-child {
			justify-content: flex-end;
		}
		div {
			flex: none;
			max-width: 250px;
			width: 100%;
		}
	}
}

.warn {
	position: relative;
	padding-left: 60px;
	margin: 50px 0;
	text-align: left;
	&::before {
		content: '';
		width: 54px;
		height: 47px;
		position: absolute;
		background: url(../images/11.jpg);
		left: 0;
		top: 9px;
	}
}

.price-table table {
	border-collapse: collapse;
	width: 100%;
}

.table-head {
	th {
		background: none;
	}
	td {
		font-weight: bold;
		&:last-child {
			color: #fff;
			background-color: #a3d063;
		}
	}
}

.price-table table th,
.price-table table td {
	border: 1px solid rgb(163, 208, 99);
	background: #fff;
	padding: 10px 0;
	font-size: 18px;
//	max-width: 150px;
//	width: 100%;
	text-align: center;
}

.price-table th {
	text-align: center;
}

.price-table .table-body th {
	padding: 10px 0 10px 25px;
	text-align: left;
//	max-width: 180px;
//	width: 100%;
}

.price-table .atypical {
	color: #fff;
	background-color: rgb(163, 208, 99);
}

.price-desc {
	position: relative;
	padding: 10px;
	text-align: left;
//	max-width: 508px;
//	width: 100%;
	color: #fff;
	background-color: rgb(163, 208, 99);
}

.price-desc::after {
	content: ''; 
	position: absolute;
	right: 68px;
	top: -27px;
	border: 15px solid transparent;
	border-bottom: 15px solid rgb(163, 208, 99);
}

.price-desc li {
	font-size: 17px;
	line-height: 30px;
	list-style: none;
}

.price-desc-right {
	float: right;
//	max-width: 460px;
	position: relative;
}

.price-desc-right > span {
	display: block;
//	max-width: 436px;
	height: 75px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2;
	margin-top: 40px;
}

.price-desc-right > span > span {
	display: block;
	padding: 10px;
	text-align: center;
	font-size: 26px;
	color: rgb(255, 255, 255);
	background-color: rgb(163, 208, 99);
	font-weight: bold;
	text-shadow: 2px 2px 2px rgb(107, 136, 65);
}

.price-desc-right > div {
//	max-width: 385px;
	background-color: rgb(255, 255, 255);
	overflow: hidden;
	border-radius: 3px;
	padding: 100px 15px 35px;
	color: rgb(68, 68, 68);
	font-size: 22px;
	margin-left: 11px;
	margin-top: 25px;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.block-board {
	position: relative;
	padding: 0 10px;
	margin: 0 50px;
	& > div {
		padding: 10px;
		background: #fff;
		border-radius: 4px;
		box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
	}
	h3 {
		background: #a3d063;
		color: #fff;
		position: absolute;
		left: 0;
		width: 100%;
		padding: 10px 0;
		&::after {
			content: '';
			width: 10px;
			height: 10px;
			position: absolute;
			right: 0;
			top: -10px;
			background: url(../images/11.png);
		}
		&::before {
			content: '';
			width: 10px;
			height: 10px;
			position: absolute;
			left: 0;
			bottom: -10px;
			background: url(../images/12.png);
		}
	}
	p {
		padding-top: 60px;
	}
}

article {
//	border: 2px solid brown;
//	background: brown;
	text-align: center;
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	div {
//		border: 2px solid white;
		flex: 1 1 300px;
	}
}

footer {
	color: #fff;
	a {
		color: #fff;
	}
//	border: 2px solid blue;
	background-color: rgb(68, 68, 68);
	article {
		background: inherit;
		align-items: center;	
		.contact-info {
			text-align: right;
		}
	}
}

.adress {
	text-align: left;
	div {
		display: inline-block;
		vertical-align: top;
	}
}

.contact-info-wrapper,
.contact-info #block-tel,
.menu-site nav,
.footer-layout {
    padding-left: 30px;
    padding-right: 30px;
}

//=========================================

.div-t-form { width: 300px; border-width: 3px; border-style: solid; border-color: rgb(163, 208, 99) rgb(163, 208, 99) rgb(255, 255, 255); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; background-color: rgb(255, 255, 255); border-radius: 5px 5px 0px 0px; padding-top: 30px;
	padding-bottom: 20px;
	margin-top: 15px;}
.div-t-form .div-for-top { text-align: center; padding-left: 10px; text-transform: uppercase; color: rgb(68, 68, 68); font-size: 20px; font-weight: bold; padding-right: 10px; }
.div-t-form .div-for-top span { display: block; margin-top: 10px; margin-bottom: 20px; color: rgb(146, 187, 89); font-size: 16px; }
.div-t-form > form { display: block; height: 160px; margin-top: 10px; }
.div-t-form > form input[type="text"] { display: block; height: 33px; padding-left: 12px; padding-right: 12px; margin: 0px auto 20px; width: 184px; border: 1px solid rgb(68, 68, 68); border-radius: 3px; }
.div-t-form > form input[type="text"]:focus { border: 1px solid rgb(123, 168, 59); box-shadow: 0px 0px 5px 0px rgb(141, 192, 68); }
.div-t-form > form button[type="submit"] { border: medium none; border-radius: 3px; background-color: rgb(38, 167, 234); height: 35px; text-align: center; width: 100px; color: rgb(255, 255, 255); font-size: 14px; margin: 0px auto; display: block; cursor: pointer; text-shadow: 2px 2px 2px rgb(32, 140, 196); box-shadow: 0px -3px 0px rgba(0, 0, 0, 0.2) inset; }
.div-t-form > form button[type="submit"]:hover { box-shadow: 0px -3px 0px rgba(0, 0, 0, 0.2) inset; background-color: rgb(255, 162, 0); text-shadow: 2px 2px 2px rgb(216, 137, 0); }
.div-t-form > form button[type="submit"]:active { box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.2) inset; background-color: rgb(66, 65, 64); text-shadow: 2px 2px 2px rgb(66, 65, 64); }
.div-t-form .div-for-butt { color: rgb(68, 68, 68); font-size: 12px; text-align: center; }

//Media-Query

@media screen and (min-width: 768px) {
	.d-3 {
		.tizer {
			cursor: pointer;
			transition: box-shadow 2s;
			padding: 10px;
			&:hover {
				box-shadow: 0 0 15px #a3d063;
			}
		}
	}
}

@media screen and (max-width: 768px) and (min-width: 320px) {
//@media screen and (max-width: 414px) and (min-width: 320px) {
	.header-wrapper {
		justify-content: center;
		align-items: center;
	}
	.header-text {
		margin-right: 0;
	}
	.block-board {
		margin: 10px;
	}
	.d-7, .d-8 {
		div {
			margin-bottom: 50px;
			&::after {
				background: none;
			}
		}
	}
	.d-10 article {
		justify-content: center;
		margin: 50px 0;
	}
}
