{{ define "main" }}
<section class="hero">
    <h1>Привет, я Иван</h1>
    <p>Это блог практикующего разработчика, который фанатеет от Clojure и функционального программирования. Здесь нет сухой теории из учебников.</p>
</section>

<section class="posts-grid">
    {{ range where .Site.RegularPages "Type" "posts" }}
    <article class="post-card" data-post-id="{{ .File.UniqueID }}"> 
        
        <div class="post-content">
            <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
            <!-- Обложка поста -->
        {{ if .Params.image }}
        <div class="post-image">
            <img src="{{ .Params.image | absURL }}" alt="{{ .Params.image_alt | default .Title }}" loading="lazy">
        </div>
        {{ end }}
            <div class="post-meta">
                <time>{{ .Date.Format "2006.01.02" }}</time>
                <span class="views">👁‍🗨 0</span>
                <span class="likes">💛 0</span>
            </div>
            
            <!-- Кастомный анонс или авто-сниппет -->
            <div class="post-summary">
                {{ .Params.summary | default .Summary }}
            </div>
            
            <!-- Теги -->
            {{ if .Params.tags }}
            <div class="post-tags">
                {{ range .Params.tags }}
                <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class="tag">#{{ . }}</a>
                {{ end }}
            </div>
            {{ end }}
        </div>
    </article>
    {{ end }}
</section>
{{ end }}
